psycopg2-binary
asyncpg
apache-airflow-providers-fab
aiohappyeyeballs
aiohttp
aiosignal
anyio
asttokens
attrs
beautifulsoup4
bs4
cachetools
certifi
cffi
charset-normalizer
colorama
comm
db-dtypes
debugpy
decorator
editorconfig
executing
fake-http-header
fake-useragent
frozenlist
fsspec
gcsfs
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
ipykernel
ipython
ipython-pygments-lexers
jedi
jsbeautifier
jupyter-client
jupyter-core
lingua-language-detector
loguru
matplotlib-inline
multidict
nest-asyncio
numpy
oauthlib
opencv-python
outcome
packaging
pandas
pandas-gbq
parso
platformdirs
playwright
playwright-stealth
polars-lts-cpu
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydata-google-auth
pyee
pygments
pyparsing
pysocks
python-dateutil
python-dotenv
pytz
pyyaml
pyzmq
requests
requests-oauthlib
rsa
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
stack-data
tenacity
tenon
tornado
traitlets
trio
trio-websocket
typing-extensions
tzdata
undetected-chromedriver
uritemplate
urllib3
wcwidth
websocket-client
websockets
win32-setctime
wsproto
yarl